@use "@/assets/scss/typo";
@use "@/assets/scss/background";
@use "@/assets/scss/color";
@use "@/assets/scss/virtual-field";
@use "@/assets/scss/virtual-field-label";
@use "@/assets/scss/grid-actions";
@use "@/assets/scss/collection-grid";
@use "@/assets/scss/side-modal";
@use "@/assets/scss/vuetify";

html, body, #megio-panel, .megio-panel {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
