html, body, #megio-panel, .megio-panel {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@import "@/assets/scss/typo";
@import "@/assets/scss/background";
@import "@/assets/scss/color";
@import "@/assets/scss/virtual-field";
@import "@/assets/scss/virtual-field-label";
@import "@/assets/scss/grid-actions";
@import "@/assets/scss/collection-grid";
@import "@/assets/scss/side-modal";
@import "@/assets/scss/quill-text-editor";
@import "@/assets/scss/vuetify";
